$gray: #595555;
$background: #c0c1c4;
// $background: #0d0f14;
$error-color: #f9483b;
$text-color: #292727;
$primary-color: #5063c7;
$secondary-color: #f9f9f9;
$lighter-blue-color: #6579dd;
$light-blue-color: #a7b4f7;
$notification-color: #67ee4c;
