@import '../../../styles/colors.module.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    :global {
        .ant-input-group-wrapper {
            width: 50%;
        }
    }
}
