.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .audio-info {
        display: grid;
        grid-template-rows: 6fr 1fr;
        align-items: center;
        object-fit: cover;

        .audio-image {
            & > img {
                object-fit: cover;
                width: 30vw;
            }
        }
    }
}
